<div class="title">
    <h1>Admin settings</h1>
    <a [routerLink]="['']">
        <button mat-raised-button>
            <mat-icon>arrow_back</mat-icon>
            Back
        </button>
    </a>
</div>
<div class="loading-shade" *ngIf="loading">
    <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
</div>

<div *ngIf="configAndSettings$ | async as configAndSettings">

    <div class="padding-top">
        <h2>General</h2>
        <table>
            <tr>
                <td><h3>Default tab</h3></td>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>Default tab</mat-label>
                        <mat-select [(value)]="settings.defaultTab" (selectionChange)="onSelectDefaultTab($event, 'Default tab is set.')">
                            <mat-option value="0">Partner via barcode</mat-option>
                            <mat-option value="1">Users / Vendors</mat-option>
                            <mat-option value="2">Partners</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td><h3>Language direction</h3></td>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>Direction</mat-label>
                        <mat-select [(value)]="settings.languageDirection" (selectionChange)="saveSettings('Language direction is set.')">
                            <mat-option value="ltr">Left to right</mat-option>
                            <mat-option value="rtl">Right to left</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr>
        </table>
    </div>

    <div class="padding-top">
        <h2>Paper</h2>
        <table>
            <tr>
                <td>
                    <h3>Paper size</h3>
                    <em>Don't forget to set it in your browser's print settings as well</em>
                </td>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>Paper size</mat-label>
                        <mat-select [(value)]="settings.paperSize" (selectionChange)="saveSettings('Paper size is set.')">
                            <mat-option value="21.0X29.7">A4 (21.0 X 29.7 cm)</mat-option>
                            <mat-option value="14.8X21.0">A5 (14.8 X 21.0 cm)</mat-option>
                            <mat-option value="10.5X14.7">A6 (10.5 X 14.8 cm)</mat-option>
                            <mat-option value="7.4X10.5">A7 (7.4 X 10.5 cm)</mat-option>
                            <mat-option value="10.0X5.5">label (10.0 X 5.5 cm)</mat-option>
                            <mat-option value="6.2X9.0">label 2 (6.2 X 9.0 cm)</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>Paper margins (cm)</h3>
                    <em>Note that your browser's print settings might add some margin as well. Set it to 0 there, to get the best result.</em>
                </td>
                <td>
                    <mat-form-field>
                        <mat-label>Paper's top margin</mat-label>
                        <input matInput
                               [(ngModel)]="settings.paperMarginTop"
                               (change)="saveSettings('Paper\'s top margin is set.')">
                        <mat-hint></mat-hint>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <mat-form-field>
                        <mat-label>Paper's bottom margin</mat-label>
                        <input matInput
                               [(ngModel)]="settings.paperMarginBottom"
                               (change)="saveSettings('Paper\'s bottom margin is set.')">
                        <mat-hint></mat-hint>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <mat-form-field>
                        <mat-label>Paper's left margin</mat-label>
                        <input matInput
                               [(ngModel)]="settings.paperMarginLeft"
                               (change)="saveSettings('Paper\'s left margin is set.')">
                        <mat-hint></mat-hint>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <mat-form-field>
                        <mat-label>Paper's right margin</mat-label>
                        <input matInput
                               [(ngModel)]="settings.paperMarginRight"
                               (change)="saveSettings('Paper\'s right margin is set.')">
                        <mat-hint></mat-hint>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <mat-checkbox (change)="saveSettings('Choice of multiple addresses per page is set.')"
                                  [checked]="settings.multiAddressPerPage"
                                  [(ngModel)]="settings.multiAddressPerPage"
                    >
                        <h3>Multiple addresses per page (without logo)</h3>
                    </mat-checkbox>
                </td>
            </tr>
            <tr *ngIf="settings.multiAddressPerPage">
                <td colspan="2">
                    <mat-checkbox (change)="saveSettings('Choice of repeat address is set.')"
                                  [checked]="settings.repeatAddress"
                                  [(ngModel)]="settings.repeatAddress"
                    >
                        <h3>Repeat the address if only one address is selected.</h3>
                    </mat-checkbox>
                </td>
            </tr>
            <tr *ngIf="settings.multiAddressPerPage">
                <td>
                    <h3 class="padding-top">Number of addresses per row</h3></td>
                <td>
                    <mat-form-field>
                        <mat-label>Number of addresses per row</mat-label>
                        <input matInput
                               [(ngModel)]="settings.numAddressPerRow"
                               (change)="saveSettings('Number of addresses per row is set.')">
                        <mat-hint></mat-hint>
                    </mat-form-field>
                </td>
            </tr>
            <tr *ngIf="settings.multiAddressPerPage">
                <td>
                    <h3 class="padding-top">Number of addresses per column</h3></td>
                <td>
                    <mat-form-field>
                        <mat-label>Number of addresses per column</mat-label>
                        <input matInput
                               [(ngModel)]="settings.numAddressPerColumn"
                               (change)="saveSettings('Number of addresses per column is set.')">
                        <mat-hint></mat-hint>
                    </mat-form-field>
                </td>
            </tr>
            <tr *ngIf="settings.multiAddressPerPage">
                <td>
                    <h3 class="padding-top">Padding left for each cell(cm)</h3></td>
                <td>
                    <mat-form-field>
                        <mat-label>Padding left</mat-label>
                        <input matInput
                               [(ngModel)]="settings.cellPaddingLeft"
                               (change)="saveSettings('Cell padding left is set.')">
                        <mat-hint></mat-hint>
                    </mat-form-field>
                </td>
            </tr>
            <tr *ngIf="settings.multiAddressPerPage">
                <td>
                    <h3 class="padding-top">Padding right for each cell(cm)</h3></td>
                <td>
                    <mat-form-field>
                        <mat-label>Padding right</mat-label>
                        <input matInput
                               [(ngModel)]="settings.cellPaddingRight"
                               (change)="saveSettings('Cell padding right is set.')">
                        <mat-hint></mat-hint>
                    </mat-form-field>
                </td>
            </tr>
        </table>
    </div>

    <div class="padding-top">
        <h2>Logo</h2>
        <table>
            <tr>
                <td>
                    <h3 class="padding-top">Logo width (cm)</h3>
                </td>
                <td>
                    <mat-form-field>
                        <mat-label>Logo width</mat-label>
                        <input matInput
                               [(ngModel)]="settings.logoWidth"
                               (change)="saveSettings('Logo width is set.')">
                        <mat-hint></mat-hint>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <mat-checkbox style="display: block; color: black"
                                  [(ngModel)]="settings.logoInBottom"
                                  (change)="saveSettings('Logo position is set.')"
                                  [checked]="settings.logoInBottom"
                    ><h3>Move logo to the bottom of the page</h3>
                    </mat-checkbox>
                </td>
            </tr>
        </table>
    </div>

    <div class="padding-top">
        <h2>Address</h2>
        <table>
            <tr>
                <td>
                    <h3 class="padding-top">Address width (cm)</h3>
                    <em>Only for <b>paper</b> mode and <b>one address per page</b></em>
                </td>
                <td>
                    <mat-form-field>
                        <mat-label>Address width</mat-label>
                        <input matInput
                               [(ngModel)]="settings.addressWidth"
                               (change)="saveSettings('Address\'s width is set.')">
                        <mat-hint></mat-hint>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <h3 class="padding-top">Address top margin (cm)</h3>
                    <em>Only for <b>paper</b> mode and <b>one address per page</b></em>
                </td>
                <td>
                    <mat-form-field>
                        <mat-label>Address top margin</mat-label>
                        <input matInput
                               [(ngModel)]="settings.addressTopMargin"
                               (change)="saveSettings('Address\'s top margin is set.')">
                        <mat-hint></mat-hint>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
            <tr>
                <td>
                    <h3 class="padding-top">Address bottom margin (cm)</h3>
                    <em>Only for <b>paper</b> mode and <b>one address per page</b></em>
                </td>
                <td>
                    <mat-form-field>
                        <mat-label>Address bottom margin</mat-label>
                        <input matInput
                               [(ngModel)]="settings.addressBottomMargin"
                               (change)="saveSettings('Address\'s bottom margin is set.')">
                        <mat-hint></mat-hint>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <h3 class="padding-top">Address left margin (cm)</h3>
                    <em>Only for <b>paper</b> mode</em>
                </td>
                <td>
                    <mat-form-field>
                        <mat-label>Address left margin</mat-label>
                        <input matInput
                               [(ngModel)]="settings.addressLeftMargin"
                               (change)="saveSettings('Address\'s left margin is set.')">
                        <mat-hint></mat-hint>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <h3 class="padding-top">Address right margin (cm)</h3>
                    <em>Only for <b>paper</b> mode</em>
                </td>
                <td>
                    <mat-form-field>
                        <mat-label>Address right margin</mat-label>
                        <input matInput
                               [(ngModel)]="settings.addressRightMargin"
                               (change)="saveSettings('Address\'s right margin is set.')">
                        <mat-hint></mat-hint>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <h3 class="padding-top">Address default font size</h3>
                    <em>Both for <b>user</b> and <b>partner</b>.</em>
                </td>
                <td>
                    <mat-form-field>
                        <mat-label>Address default font size</mat-label>
                        <input matInput
                               [(ngModel)]="settings.addressDefaultFontSize"
                               (change)="saveSettings('Address\'s default font size is set.')">
                        <mat-hint></mat-hint>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <h3 class="padding-top">Predefined text on top of address</h3>
                </td>
                <td>
                    <mat-form-field>
                        <mat-label>Text on top of address</mat-label>
                        <input matInput
                               [(ngModel)]="settings.textBeforeAddress"
                               (change)="saveSettings('Text is set.')">
                        <mat-hint></mat-hint>
                    </mat-form-field>
                </td>
            </tr>
        </table>
    </div>

    <div class="padding-top">
        <h2>Partners</h2>
        <mat-radio-group [(ngModel)]="settings.partnerPrintType">
            <mat-radio-button value="paper"
                              [checked]="(configAndSettings.settings.partnerPrintType === 'paper')"
                              (change)="onPartnerPrintTypeSelected($event, 'Print type is set.')"
            ><h3>Print partner(s) without sender's address </h3>
                <small>Choose relevant settings under <b>Paper</b> and <b>Logo</b> sections.</small>
            </mat-radio-button>
            <mat-radio-button value="label" class="md-primary"
                              [checked]="(configAndSettings.settings.partnerPrintType === 'label')"
                              (change)="onPartnerPrintTypeSelected($event, 'Print type is set.')"
            ><h3>Print partner(s) with sender's address</h3>
            </mat-radio-button>
        </mat-radio-group>
        <table *ngIf="settings.partnerPrintType === 'label'">
            <tr *ngIf="configAndSettings.config.partner.addresses.length">
                <th class="sender"><h3>My address</h3></th>
                <th class="sender"><h3>Sender's address list</h3></th>
            </tr>
            <tr *ngFor="let address of configAndSettings.config.partner.addresses; let i = index">
                <td>
                    <mat-radio-button style="display: block; color: black"
                                      (change)="onSelectMyAddress($event, 'Address is set.')"
                                      [value]=i
                                      checked="{{configAndSettings.settings.myAddress===address}}">
                    </mat-radio-button>
                </td>
                <td [innerHTML]=replaceComma(address)></td>
            </tr>
            <tr *ngIf="!configAndSettings.config.partner.addresses.length">
                <td class="mat-error">No address is added. Please contact your general system administrator.
                </td>
            </tr>
            <tr></tr>
            <tr>
                <td>
                    <h3 class="padding-top">Label width (cm)</h3></td>
                <td>
                    <mat-form-field>
                        <mat-label>Label width</mat-label>
                        <input matInput
                               [(ngModel)]="settings.labelWidth"
                               (change)="saveSettings('Label width is set.')">
                        <mat-hint></mat-hint>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <h3 class="padding-top">Label height (cm)</h3></td>
                <td>
                    <mat-form-field>
                        <mat-label>Label height</mat-label>
                        <input matInput
                               [(ngModel)]="settings.labelHeight"
                               (change)="saveSettings('Label height is set.')">
                        <mat-hint></mat-hint>
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <br>
    </div>
</div>