<div class="title">
    <h1>Admin settings</h1>
    <a [routerLink]="['']">
        <button mat-raised-button>
            <mat-icon>arrow_back</mat-icon>
            Back
        </button>
    </a>
</div>
<div class="loading-shade" *ngIf="loading">
    <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
</div>

<mat-tab-group *ngIf="configAndSettings$ | async as configAndSettings">
    <mat-tab label="Partners">
        <div class="padding-top">
            <table *ngIf="configAndSettings.hasOwnProperty('config')">
                <tr><th class="sender"><h3>My address</h3></th><th class="sender"><h3>Sender's address list</h3></th></tr>
                <tr *ngFor="let address of configAndSettings.config.partner.addresses; let i = index">
                    <td>
                        <mat-radio-button style="display: block; color: black"
                                          (change)="onSelectMyAddress($event)"
                                          [value]=i
                                          checked="{{configAndSettings.settings.myAddress===address}}">
                        </mat-radio-button>
                    </td>
                    <td [innerHTML]=replaceComma(address)></td>
                </tr>
                <tr *ngIf="!configAndSettings.config.partner.addresses.length"><td></td><td>No address is added. Please contact your general system administrator.</td></tr>
            </table>
            <table *ngIf="!configAndSettings.hasOwnProperty('config')">
                <tr><td></td><td>No address is added. Please contact your general system administrator.</td></tr>
            </table>

            <br>
        </div>
    </mat-tab>
</mat-tab-group>