.form-container {
  display: flex;
  flex-direction: column;
}

.form-container > * {
  width: 100%;
}

div.title {
  display: flex;
  margin-top: 10px;
}

div.title a {
  margin-left: auto;
}

.commands-container {
  margin-top: 10px;
  width: fit-content;
}

.spinner {
  float: right;
}

.commands-container button {
  margin-right: 10px;
}

textarea.xsl-edit {
  height: 200px;
}

textarea.xml-record {
  height: 100px;
}

div.buttonsContainer{
  margin: 4px;
  label{
    margin: 4px 4px 4px 0;
  }
}

.hidden{
  display: none;
}

div.logo{
  border: 1px solid lightgray;
  text-align: center;
  img{
    max-width: 100%;
  }
}

#sender_input{
  width: 80%;
}

.add_sender_button{
  float: right;
}

mat-form-field{
  width: 100%;
}

.padding-top{
  padding-top: 30px;
}

.mat-icon{
  cursor: pointer;
}

td.mat-cell,
th.mat-cell{
  padding: 10px;
}

th.sender{
  text-align: left;
}

//Det Kgl. Bibliotek Aarhus,Victor albecksvej 1,DK-8000 Aarhus C,Denmark
//Det Kgl. Bibliotek København,Christians Brygge 8 ,1219 København K,Denmark