<div class="title">
    <h1>Admin Configuration</h1>
    <a [routerLink]="['']">
        <button mat-raised-button>
            <mat-icon>arrow_back</mat-icon>
            Back
        </button>
    </a>
</div>
<div class="loading-shade" *ngIf="loading">
    <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
</div>

<mat-tab-group>
    <mat-tab label="Partners">
        <div class="padding-top">
            <h3>Sender's address list:</h3>
            <div *ngFor="let address of config.partner.addresses; let i = index">
                {{i + 1}}- {{ address}}
            </div>
            <div *ngIf="!config.partner.addresses.length">No address is added.</div>
            <h3  class="padding-top">Add to address list:</h3>
            <mat-form-field>
                <mat-label>Address (use comma (,) for line change)</mat-label>
                <input matInput [(ngModel)]="newSenderAddress">
            </mat-form-field>
            <div mat-dialog-actions>
                <button mat-raised-button color="primary" (click)="onAddSender()">Save sender's address</button>
            </div>
            <br>
        </div>
    </mat-tab>
    <mat-tab label="Users">
        <h2>Logo</h2>
        <div class="buttonsContainer">
            <input type="file" id="logo" class="hidden"
                   (change)="onLogoChanged($event.target.files)"
                   accept=".gif, .jpg, .png"/>
            <label for="logo" class="mat-raised-button">Select a logo ...</label>

            <input id="clear" class="hidden" (click)="clearLogo()"/>
            <label for="clear" class="mat-raised-button">Clear logo</label>
        </div>
        <div class="logo">
            <img alt="No logo is selected" src="{{logoUrl$ | async}}"/>
        </div>
    </mat-tab>
</mat-tab-group>