<div class="title">
    <h1>Admin Configuration</h1>
    <a [routerLink]="['']">
        <button mat-raised-button>
            <mat-icon>arrow_back</mat-icon>
            Back
        </button>
    </a>
</div>
<div class="loading-shade" *ngIf="loading">
    <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
</div>

<mat-tab-group *ngIf="config$ | async as configuration">
    <mat-tab label="Partners">
        <div class="padding-top">
            <table *ngIf="configuration.hasOwnProperty('partner')">
                <tr>
                    <th colspan="2" class="sender"><h3>Sender's address list</h3></th>
                </tr>
                <tr *ngFor="let address of configuration.partner.addresses; let i = index">
                    <td>
                        <mat-icon matListIcon (click)="onRemoveAddress(i)" color="primary">delete</mat-icon>
                    </td>
                    <td [innerHTML]=toolboxService.replaceComma(address)></td>
                </tr>
                <tr *ngIf="!configuration.partner.addresses.length">
                    <td></td>
                    <td>No address is added</td>
                </tr>
            </table>
            <table *ngIf="!configuration.hasOwnProperty('partner')">
                <tr>
                    <td></td>
                    <td>No address is added</td>
                </tr>
            </table>
            <h3 class="padding-top">Add to address list:</h3>
            <mat-form-field>
                <mat-label>Address</mat-label>
                <input matInput [(ngModel)]="newSenderAddress">
                <mat-hint>Use comma for line change</mat-hint>
            </mat-form-field>

            <div mat-dialog-actions class="padding-top">
                <button mat-raised-button color="primary" (click)="onAddSender()">Save address</button>
            </div>
            <br>
        </div>
    </mat-tab>
    <mat-tab label="Logo">
        <h2>Logo</h2>
        <div class="buttonsContainer">
            <input type="file" id="logo" class="hidden"
                   (change)="onLogoChanged($event)"
                   accept=".gif, .jpg, .png"/>
            <label for="logo" class="mat-raised-button">Select a logo ...</label>

            <input id="clear" class="hidden" (click)="clearLogo()"/>
            <label for="clear" class="mat-raised-button">Clear logo</label>
        </div>
        <div class="logo" *ngIf="configuration.hasOwnProperty('user')">
            <img alt="No logo is selected" src="{{configuration.user.logo}}"/>
        </div>
        <div class="logo" *ngIf="!configuration.hasOwnProperty('user')">
            <img alt="No logo is selected" src=""/>
        </div>
    </mat-tab>
    <mat-tab label="Address format">
        <div>
            <mat-divider></mat-divider>
            <mat-card>If you cannot find your address format in the list, create a new issue in <a target="_blank" href="https://github.com/kb-dk/alma_cloud_app_print_user_address/issues">our Github</a> and send us your address format so we add it to the list.</mat-card>
            <table *ngIf="configuration.hasOwnProperty('addressFormat')">
                <tr style="text-align: left">
                    <th></th>
                    <th>Address code</th>
                    <th>Address format</th>
                </tr>
                <tr *ngFor="let addresses of configuration.addressFormat.addresses | keyvalue">
                    <td valign="top">
                        <mat-radio-button style="display: block; color: black"
                                          (change)="onSelectMyAddressFormat($event)"
                                          [value]="addresses.key"
                                          checked="{{configuration.addressFormat.default === addresses.key }}"
                        >
                        </mat-radio-button>
                    </td>
                    <td valign="top"><h3>{{ addresses.key}}</h3></td>
                    <td>
                        <div style="padding-top: 10px" *ngFor="let addressLine of addresses.value ">
                            <span *ngFor="let addressElement of addressLine">
                                {{ addressElement }}
                            </span>
                        </div>
                    </td>
                </tr>
            </table>
            <mat-divider></mat-divider>
            <table *ngIf="configuration.hasOwnProperty('addressFormat')">
                <tr>
                    <th valign="top" align="left">
                        <mat-checkbox (change)="onSelectShowCountry($event)"
                                      [checked]="config.addressFormat.showCountry">
                            Print country in the address
                        </mat-checkbox>
                    </th>
                </tr>
                <tr>
                    <th valign="top" align="left">
                        <mat-checkbox (change)="onSelectShowRecipient($event)"
                                      [checked]="config.addressFormat.showRecipient">
                            Print recipient in the address
                        </mat-checkbox>
                    </th>
                </tr>
            </table>

        </div>
    </mat-tab>
</mat-tab-group>