@mixin main-component-theme($theme, $typgraphy) {
  section>h1 {
    background-color: mat-color(map-get($theme, primary));
    color: mat-color(map-get($theme, primary), default-contrast);
  }
}

table{
  width: 100%;
  margin-top: 10px;
  font-size: 0.8em;
}

div.buttonsContainer{
  margin: 4px 0;
  button{
    margin: 4px 4px 4px 0;
  }
}

h3 .mat-checkbox-label{
  font: 400 16px/28px Roboto, "Helvetica Neue", sans-serif!important;
  letter-spacing: normal!important;
}