@mixin main-component-theme($theme, $typgraphy) {
  section>h1 {
    background-color: mat-color(map-get($theme, primary));
    color: mat-color(map-get($theme, primary), default-contrast);
  }
}

div.buttonsContainer{
  margin: 4px;
  button{
    margin: 4px 4px 4px 0;
  }
}