<div>
  <button class="float-right" mat-stroked-button color="primary" (click)="onPrintPreviewNewTab()">
    Print {{numRecordsToPrint}} records
  </button>
  <button class="float-right" mat-stroked-button color="primary" (click)="onClearSelected()">Clear</button>
</div>

<div *ngIf="usersAddress">
  <h3>Select record(s) to print:</h3>
  <table style="width: 100%; margin-top: 10px; font-size: 0.8em;" border="1px">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Address</th>
    </tr>
    <tr *ngFor="let userAddress of usersAddress" id="tr_{{userAddress.id}}">
      <td style="width: 2%">{{userAddress.id + 1}}</td>
      <td style="width: 23%">
        <mat-checkbox [value]="userAddress.id"
                      (change)="onListChanged($event)"
                      [checked]="userAddress.checked"
        >{{userAddress.name}}</mat-checkbox>
      </td>
      <td style="width: 75%" >
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button (change)="onAddressChanged($event)" [checked]="(userAddress.desiredAddress =='homeAddress')" *ngIf="userAddress.homeAddress" value="{{userAddress.id}}_homeAddress"><b>Home: </b>{{userAddress.homeAddress}}</mat-radio-button>
          <mat-radio-button (change)="onAddressChanged($event)" [checked]="(userAddress.desiredAddress =='workAddress')" *ngIf="userAddress.workAddress" value="{{userAddress.id}}_workAddress"><b>Work: </b>{{userAddress.workAddress}}</mat-radio-button>
          <mat-radio-button (change)="onAddressChanged($event)" [checked]="(userAddress.desiredAddress =='alternativeAddress')" *ngIf="userAddress.alternativeAddress" value="{{userAddress.id}}_alternativeAddress"><b>Alternative: </b>{{userAddress.alternativeAddress}}</mat-radio-button>
        </mat-radio-group>
      </td>
    </tr>
  </table>
</div>