<div>
  <button class="float-right" mat-stroked-button color="primary" (click)="onPrintPreviewNewTab()">
    Print {{numRecordsToPrint}} records
  </button>
  <button class="float-right" mat-stroked-button color="primary" (click)="onClearSelected()">Clear</button>
</div>

<div *ngIf="userAddressWithPrintInfo$ | async as usersAddress">
  <h3>Select record(s) to print:</h3>
  <table style="width: 100%; margin-top: 10px; font-size: 0.8em;" border="1px">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Address</th>
    </tr>
    <tr *ngFor="let userInfo of usersAddress" id="tr_{{userInfo.id}}">
      <td style="width: 2%">{{userInfo.id + 1}}</td>
      <td style="width: 23%">
        <div style="display: block"><mat-checkbox style="display: block"
                      [value]="userInfo.id"
                      (change)="onUserNameClick($event)"
                      [checked]="userInfo.checked"
        >{{userInfo.name}}</mat-checkbox></div>
      </td>
      <td style="width: 75%" >
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button *ngFor="let userAddress of userInfo.addresses"
                            (change)="onAddressClick($event)"
                            [checked]="(userInfo.desiredAddress == userAddress.type)"
                            value="{{userInfo.id}}_{{userAddress.type}}"
          ><b>{{userAddress.type}}: </b>{{userAddress.address}}</mat-radio-button>
        </mat-radio-group>
      </td>
    </tr>
  </table>
</div>