<div *ngIf="errorMsg" class="mat-error">{{ errorMsg }}</div>

<div class="loading-shade" *ngIf="!(partnersReady && usersReady)">
    <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
</div>

<mat-tab-group [(selectedIndex)]="settings.defaultTab">

    <div>
        <mat-tab label="Partner via barcode">
            <table>
                <tr>
                    <td><h3 class="padding-top">Enter barcode:</h3></td>
                    <td>
                        <mat-form-field>
                            <mat-label>Barcode</mat-label>
                            <input matInput [(ngModel)]="barcode">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div style="color: red; font-size: 17px" *ngIf="barcodeError">{{ errorMessage }}</div>
                    </td>
                </tr>
            </table>
            <div mat-dialog-actions class="padding-top">
                <button mat-raised-button color="primary" (click)="onScan()">Find and print partner's address</button>
            </div>
            <div class="loading-shade" *ngIf="loading">
                <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
            </div>
            <div *ngIf="scannedPartner && scannedPartnerReady">
                <div class="buttonsContainer">
                    <button class="float-right" [disabled]="!settings.myAddress" mat-stroked-button color="primary"
                            (click)="onScannedPartnerPrint()">
                        Print partner's address
                    </button>
                    <div *ngIf="!settings.myAddress" class="mat-error"><b>Please contact your general system administrator to
                        add sender's address to config.</b></div>
                </div>
                <h3 *ngIf="config.user.logo && settings.partnerPrintType === 'paper'">
                    <mat-checkbox style="display: block; color: black"
                                  (change)="onPrintLogoPartnerToggled($event)"
                                  [checked]=true
                    >Add institution logo to page
                    </mat-checkbox>
                </h3>
                <h3>Select partner address to print:</h3>
                <table class="outline">
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Address</th>
                    </tr>
                    <tr>
                        <td style="width: 2%">{{scannedPartner.id + 1}}</td>
                        <td style="width: 23%">
                            <div>
                                {{scannedPartner.name}}
                            </div>
                        </td>
                        <td style="width: 75%">
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button *ngFor="let address of scannedPartner.receivers_addresses"
                                                  (change)="onAddressSelected($event)"
                                                  [checked]="(scannedPartner.selectedAddress == address.type)"
                                                  value="scannedPartner_{{scannedPartner.id}}_{{address.type}}"
                                ><b>{{address.type}}: </b>{{address.address}}</mat-radio-button>
                            </mat-radio-group>
                        </td>
                    </tr>
                </table>
            </div>

        </mat-tab>
    </div>

    <div>
        <mat-tab label="Users/Vendors">
            <div class="padding-top" *ngIf="userActions$ | async as users">
                <div class="buttonsContainer" *ngIf="users.length && partnersReady">
                    <button class="float-right" mat-stroked-button color="primary" (click)="onUserPrint()">
                        Print {{numUsersToPrint}} {{entityType|lowercase}} address(es)
                    </button>
                    <button class="float-right" mat-stroked-button color="primary" (click)="onClear()">Clear
                    </button>
                </div>
                <h3 *ngIf="config.user.logo && users.length && partnersReady">
                    <mat-checkbox style="display: block; color: black"
                                  (change)="onPrintLogoUserToggled($event)"
                                  [checked]=true
                    >Add institution logo to page
                    </mat-checkbox>
                </h3>
                <h3 *ngIf="users.length && partnersReady">Font size:
                    <mat-form-field style="width: 30px" class="font-form-field">
                        <input matInput maxlength="2" type="text" [(ngModel)]="userFontSize">
                    </mat-form-field>
                    px
                </h3>
                <h3>Select user/vendor(s) to print:</h3>
                <mat-checkbox style="display: block; color: black"
                              (change)="onSelectDeselectAllUsers($event, users)"
                              [checked]="allPartnersSelected"
                > <h3>Select/deselect all</h3>
                </mat-checkbox>
                <table class="outline">
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Address</th>
                    </tr>
                    <tr *ngFor="let user of users" id="tr_user_{{user.id}}">
                        <td style="width: 2%">{{user.id + 1}}</td>
                        <td style="width: 23%">
                            <div>
                                <mat-checkbox value="user_{{user.id}}"
                                              (change)="onUserToggled($event)"
                                              [checked]="user.checked"
                                              [disabled]="user.receivers_addresses.length==0"
                                >{{user.name}}</mat-checkbox>
                            </div>
                        </td>
                        <td style="width: 75%">
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button *ngFor="let address of user.receivers_addresses"
                                                  (change)="onAddressSelected($event)"
                                                  [checked]="(user.selectedAddress == address.type)"
                                                  value="user_{{user.id}}_{{address.type}}"
                                ><b>{{address.type}}: </b>{{address.address}}</mat-radio-button>
                            </mat-radio-group>
                        </td>
                    </tr>
                </table>
            </div>
        </mat-tab>
    </div>

    <div >
        <mat-tab label="Partners">
            <div *ngIf="partnerActions$ | async as partners" class="padding-top">
                <div class="buttonsContainer" *ngIf="partners.length && usersReady">
                    <button class="float-right" [disabled]="!settings.myAddress" mat-stroked-button color="primary"
                            (click)="onPartnerPrint()">
                        Print {{numPartnersToPrint}} partner address(es)
                    </button>
                    <button class="float-right" mat-stroked-button color="primary" (click)="onClear()">Clear
                    </button>
                    <div *ngIf="!settings.myAddress" class="mat-error"><b>Please contact your general system administrator to
                        add sender's address to config.</b></div>
                </div>
                <mat-card *ngIf="!partners.length && usersReady" style="color: #17a2b8;"><b>Note:</b> Browse to a partner list/page or to a lending or borrowing request list/page to be able to see and print partners addresses.</mat-card>

                <h3 *ngIf="config.user.logo && settings.partnerPrintType === 'paper'">
                    <mat-checkbox style="display: block; color: black"
                                  (change)="onPrintLogoPartnerToggled($event)"
                                  [checked]=true
                    >Add institution logo to page
                    </mat-checkbox>
                </h3>
                <h3 *ngIf="settings.partnerPrintType === 'paper'">Font size:
                    <mat-form-field style="width: 30px" class="font-form-field">
                        <input matInput maxlength="2" type="text" [(ngModel)]="partnerFontSize">
                    </mat-form-field>
                    px
                </h3>
                <h3>Select partner(s) to print:</h3>

                <mat-checkbox style="display: block; color: black"
                              (change)="onSelectDeselectAllPartners($event, partners)"
                              [checked]="allPartnersSelected"
                > <h3>Select/deselect all</h3>
                </mat-checkbox>

                <table class="outline">
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Address</th>
                    </tr>
                    <tr *ngFor="let partner of partners; let i = index;" id="tr_partner_{{partner.id}}">
                        <td style="width: 2%">{{partner.id + 1}}</td>
                        <td style="width: 23%">
                            <div>
                                <mat-checkbox value="partner_{{partner.id}}"
                                              (change)="onPartnerToggled($event)"
                                              [checked]="partner.checked"
                                              [disabled]="partner.receivers_addresses.length==0"
                                >{{partner.name}}</mat-checkbox>
                            </div>
                        </td>
                        <td style="width: 75%">
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button *ngFor="let address of partner.receivers_addresses"
                                                  (change)="onAddressSelected($event)"
                                                  [checked]="(partner.selectedAddress == address.type)"
                                                  value="partner_{{partner.id}}_{{address.type}}"
                                ><b>{{address.type}}: </b>{{address.address}}</mat-radio-button>
                            </mat-radio-group>
                        </td>
                    </tr>
                </table>
            </div>
        </mat-tab>
    </div>

</mat-tab-group>